.dialog-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
